# Standard c++ gitignore
# ----------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# fhofmann gitignore
# ------------------

# local builds
build
install
release
references
templates

# IDE
.vscode

# test command
build_copy_test.sh

# stub
nuke.py